header{
    width: 100%;
    height: 70px;
    justify-content: space-between;
    display: inline-flex;
    position:fixed; 
    box-shadow: #464246;
    margin-top: -10px;

}
.shadow{
    width: 100%;
    height: 85px;
}

.name{
    height: 50px;
    width: 150px;
}
.logo{
    height: 65px;
    width: 65px;
}
.navbar-nav{
    justify-content: left;
}
ul{
    list-style-type: none;
}

#offcanvasNavbar{
    font-family: 'BIZ UDPMincho', serif;
    font-size: larger;
    margin-top: 5px;
   padding-right: 10px;
}
.card-banner{
    padding-top: 40%;
}

.buho-lector{
    margin-top: 10%;
    margin-left: 25%;
}

.mis-libros{
    padding-top: 8%;
    padding-left: 3%;
}
.card-book{
    margin: 5%;
    background-color: #bbaab8;
}
.card-group{
    margin-top: 30%;
    background-color: #bbaab8;

}
#card-crear-categoria{
    padding-top: 10%;
}


@media (min-width: 320px) and (max-width: 575px) {
    .name{
        height: 30px;
        width: 80px;}
    .logo{
        height: 50px;
        width: 50px;}
    .shadow{
        width: 100%;
        height: 70px;}
    
    .card-title{
        font-size: medium;
    }
    .card-text{
        font-size: auto;
    }
    
    .buho-lector{
        width: auto;
        height: 50%;
        margin-left: 0%;}
    .dispositivos{
        width: 100%;
        height: 100%;

    }
    
}